# Arquivos gerados pelo Gradle
*.apk
*.aab
*.ap_
*.dex
build/
.gradle/
captures/
.DS_Store

# Arquivos de configuração local (não devem ser compartilhados)
local.properties

# Logs
*.log

# Arquivos de configuração do IntelliJ / Android Studio
/.idea/
# Lixo do MacOS
__MACOSX/

# Arquivos gerados pelo KSP/KAPT
/build/generated